@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Josefin+Sans&display=swap');

.TodoList {
  background-color: #F5DF98;
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
  border-top: 4px solid #FFF8D4;
  font-family: Patrick Hand SC;
  font-family: Josefin Sans;
  color: #444444;
  padding: .5rem 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.TodoList-Title {
  color: #444444;
  font-size: 2rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
}

.TodoList-ribbon {
  margin-top: auto;
  height: 5px;
  width: 100%;
  background-color: brown;
}
